
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');



* {
  padding: 0;
  margin: 0;
}


#videobg {
    min-height: 100%;
    min-width: 100%;  
    position: absolute;
    bottom: 0;
    right: 0px;
}

.overlay{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background: #130f40;
    z-index: 1;
    opacity: 0.6;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.content {
    text-align: center;
    color: #fff;
    z-index: 2;
    padding: 1rem;
}

.content h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 54px;
    margin-bottom: 10px;
}

.content p {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    margin-bottom: 20px;
    line-height: 24px;
}

.content button {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    margin: 15px;
    border: 2px solide #fff;
    padding: 10px 20px;
    background: none;
    color: #fff;
    font-weight: 500;
}
